<div class="page-header">
  <h2>💤 {{ 'SIDEBAR.SIESTAS' | translate }}</h2>
  <button
    pButton
    icon="pi pi-plus"
    [label]="'APP.ANADIR_SIESTA' | translate"
    class="p-button-outlined p-button-success"
    (click)="crearSiesta()"
  ></button>
</div>

<app-siesta-table
  [siestas]="siestas"
  (editar)="editarSiesta($event)"
  (eliminado)="guardarSiesta()"
></app-siesta-table>

<p-toast position="top-right"></p-toast>

<p-dialog
  [(visible)]="mostrarDialogo"
  [modal]="true"
  [style]="{ width: '40rem' }"
  [header]="siestaSeleccionada ? ('APP.EDITAR_SIESTA' | translate) : ('APP.NUEVA_SIESTA' | translate)"
  (onHide)="cerrarDialogo()"
>
  <app-siesta-form
    [siestaEditando]="siestaSeleccionada"
    (formularioCerrado)="cerrarDialogo()"
    (siestaGuardada)="guardarSiesta()"
  ></app-siesta-form>
</p-dialog>
