<div class="main-content-with-calendar">
  <div class="main-center">
    <app-summary-cards></app-summary-cards>
  </div>
  <div class="calendar-side">
    <div class="neumorphic-card">
      <app-calendar-widget />
    </div>
  </div>
</div>

<div class="dashboard-graphs">
  <div class="graph-card">
    <h3>Asistencia semanal</h3>
      <app-asistencia-chart></app-asistencia-chart>
  </div>
  <div class="graph-card">
    <h3>Entradas diarias</h3>
      <app-entrada-chart></app-entrada-chart>
  </div>
  <div class="graph-card">
    <h3>Clases más activas</h3>
      <app-actividad-chart></app-actividad-chart>
  </div>
</div>