<form [formGroup]="form" (ngSubmit)="onSubmit()" class="class-form p-fluid">
  <div class="formulario">
    <div class="form-grid">

      <div class="form-field">
        <label for="nombre">{{ 'FORMULARIO.NOMBRE' | translate }} {{ 'FORMULARIO.CLASE' | translate }}</label>
        <input id="nombre" type="text" pInputText formControlName="nombre" class="w-full" />
      </div>

      <div class="form-field">
        <label for="educador">{{ 'FORMULARIO.EDUCADOR' | translate }}</label>
        <p-dropdown 
          id="educador"
          [options]="educadores"
          formControlName="educador"
          dataKey="id"
          appendTo="body"
          class="w-full"
          [filter]="true">
          <ng-template let-educador pTemplate="item">
            {{ educador.nombre }} {{ educador.apellidos }}
          </ng-template>
          <ng-template let-educador pTemplate="selectedItem">
            {{ educador.nombre }} {{ educador.apellidos }}
          </ng-template>
        </p-dropdown>
      </div>

    </div>

    <div class="botones-formulario">
      <button type="submit" pButton label="Guardar" [disabled]="form.invalid"></button>
    </div>
  </div>
</form>