<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="p-fluid">
    <div class="p-field">
      <label for="nombre">{{ 'FORMULARIO.NOMBRE' | translate }} {{ 'FORMULARIO.CLASE' | translate }}</label>
      <input id="nombre" type="text" pInputText formControlName="nombre" />
    </div>

    <div class="p-field">
      <label for="educador">{{ 'FORMULARIO.EDUCADOR' | translate }}</label>
      <p-dropdown 
        id="educador"
        [options]="educadores"
        optionLabel="nombre"
        [placeholder]="'APP.EDUCADOR' | translate"
        formControlName="educador"
        [filter]="true"
        appendTo="body"
        >
        <ng-template let-educador pTemplate="item">
          {{ educador.nombre }} {{ educador.apellidos }}
        </ng-template>
      </p-dropdown>
    </div>

    <div class="p-field">
      <button type="submit" pButton label="Guardar" [disabled]="form.invalid"></button>
    </div>
  </div>
</form>