<form [formGroup]="form" (ngSubmit)="onSubmit()" class="siesta-form p-fluid">
  <div class="p-grid p-formgrid">
    
    <div class="p-field p-col-12">
      <div class="p-float-label">
        <p-dropdown
          inputId="nino"
          [options]="ninos"
          formControlName="nino"
          dataKey="id"
          appendTo="body"
          class="w-full">
          <ng-template let-nino pTemplate="item">
            {{ nino.nombre }} {{ nino.apellidos }}
          </ng-template>
          <ng-template let-nino pTemplate="selectedItem">
            {{ nino.nombre }} {{ nino.apellidos }}
          </ng-template>
        </p-dropdown>
        <label for="nino">Niño</label>
      </div>
    </div>

    <div class="p-field p-col-12">
      <div class="p-float-label">
        <p-dropdown
          inputId="educador"
          [options]="educadores"
          formControlName="educador"
          dataKey="id"
          appendTo="body"
          class="w-full">
          <ng-template let-educador pTemplate="item">
            {{ educador.nombre }} {{ educador.apellidos }}
          </ng-template>
          <ng-template let-educador pTemplate="selectedItem">
            {{ educador.nombre }} {{ educador.apellidos }}
          </ng-template>
        </p-dropdown>
        <label for="educador">Educador</label>
      </div>
    </div>

    <div class="p-field p-col-12">
      <div class="p-float-label">
        <p-calendar
          inputId="inicioSiesta"
          formControlName="inicioSiesta"
          [showTime]="true"
          hourFormat="24"
          appendTo="body"
          [showIcon]="true"
          class="w-full">
        </p-calendar>
        <label for="inicioSiesta">Hora inicio</label>
      </div>
    </div>

    <div class="p-field p-col-12">
      <div class="p-float-label">
        <p-calendar
          inputId="finSiesta"
          formControlName="finSiesta"
          [showTime]="true"
          hourFormat="24"
          appendTo="body"
          [showIcon]="true"
          class="w-full">
        </p-calendar>
        <label for="finSiesta">Hora fin</label>
      </div>
    </div>

    <div class="p-field p-col-12">
      <div class="p-float-label">
        <textarea
          id="observaciones"
          pInputTextarea
          formControlName="observaciones"
          rows="3"
          class="w-full">
        </textarea>
        <label for="observaciones">Observaciones</label>
      </div>
    </div>

  </div>

  <div class="p-d-flex p-jc-center p-mt-3">
    <button
      pButton
      type="submit"
      [label]="siestaEditando ? 'Actualizar siesta' : 'Guardar siesta'"
      class="p-button-success"
      [disabled]="form.invalid">
    </button>
  </div>
</form>
