<form [formGroup]="form" (ngSubmit)="onSubmit()" class="actividad-form p-fluid">
  <div class="formulario">
    <div class="form-grid">

      <div class="form-field">
        <label for="nombre">{{ 'FORMULARIO.NOMBRE' | translate }}</label>
        <input
          id="nombre"
          pInputText
          formControlName="nombre"
          class="w-full" />
      </div>

      <div class="form-field">
        <label for="descripcion">{{ 'FORMULARIO.DESCRIPCION' | translate }}</label>
        <textarea
          id="descripcion"
          pInputTextarea
          formControlName="descripcion"
          rows="3"
          class="w-full">
        </textarea>
      </div>

      <div class="form-field">
        <label for="fecha">{{ 'FORMULARIO.FECHA' | translate }}</label>
        <p-calendar
          inputId="fecha"
          formControlName="fecha"
          [showTime]="true"
          hourFormat="24"
          appendTo="body"
          [showIcon]="true"
          class="w-full">
        </p-calendar>
      </div>

      <div class="form-field">
        <label for="educador">{{ 'FORMULARIO.EDUCADOR' | translate }}</label>
        <p-dropdown
          inputId="educador"
          [options]="educadores"
          formControlName="educador"
          dataKey="id"
          appendTo="body"
          class="w-full">
          <ng-template let-educador pTemplate="item">
            {{ educador.nombre }} {{ educador.apellidos }}
          </ng-template>
          <ng-template let-educador pTemplate="selectedItem">
            {{ educador.nombre }} {{ educador.apellidos }}
          </ng-template>
        </p-dropdown>
      </div>

      <div class="form-field">
        <label for="clase">{{ 'FORMULARIO.CLASE' | translate }}</label>
        <p-dropdown
          inputId="clase"
          [options]="clases"
          formControlName="clase"
          dataKey="id"
          optionLabel="nombre"
          appendTo="body"
          class="w-full">
          <ng-template let-clase pTemplate="item">
            {{ clase.nombre }}
          </ng-template>
          <ng-template let-clase pTemplate="selectedItem">
            {{ clase.nombre }}
          </ng-template>
        </p-dropdown>
      </div>

    </div>

    <div class="botones-formulario">
      <button
        pButton
        type="submit"
        [label]="actividadEditando ? ('BOTONES.ACTUALIZAR' | translate) + ' ' + ('ACTIVIDAD' | translate) : ('BOTONES.GUARDAR' | translate) + ' ' + ('ACTIVIDAD' | translate)"
        class="p-button-success"
        [disabled]="form.invalid">
      </button>
      <button
        pButton
        type="button"
        [label]="'BOTONES.CANCELAR' | translate"
        icon="pi pi-times"
        class="p-button-secondary"
        (click)="cancelar()">
      </button>
    </div>
  </div>
</form>
