<div class="actividad-card p-card">
  <div class="card-header">
    <h3>{{ actividad.nombre }}</h3>
  </div>
  <div class="card-content">
    <p>{{ actividad.descripcion }}</p>
    <p><strong>Fecha:</strong> {{ actividad.fecha | date: 'shortDate' }}</p>
    <p><strong>Clase:</strong> {{ actividad.clase?.nombre || 'Sin clase' }}</p>
    <p><strong>Educador:</strong> {{ actividad.clase?.educador?.nombre }} {{ actividad.clase?.educador?.apellidos }}</p>
  </div>
  <div class="card-actions">
    <button 
      pButton 
      [label]="'APP.EDITAR' | translate"
      icon="pi pi-pencil" 
      class="p-button-sm p-button-outlined p-button-success" 
      (click)="onEdit()">
    </button>
    <button 
      pButton 
      [label]="'APP.ELIMINAR' | translate"
      icon="pi pi-trash" 
      class="p-button-sm p-button-outlined p-button-danger" 
      (click)="onDelete()">
  </button>
  </div>
</div>
