form {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .p-field {
    display: block;
    margin-bottom: 1.5rem;

    .p-float-label {
      display: flex;
      flex-direction: column;
      align-items: stretch;

      label {
        order: -1;
        margin-bottom: 0.5rem;
        text-align: left;
      }
    }

    .p-error {
      margin-top: 0.25rem;
      text-align: left;
      font-size: 0.875rem;
    }
  }

  p-dropdown,
  p-calendar,
  input,
  textarea {
    width: 100%;
  }

  > div[style] {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }
}


