<div class="page-header">
  <h2>👪 {{ 'SIDEBAR.PADRES' | translate }}</h2>
  <button 
    *ngIf="authService.getTipoUsuarioFromToken() === 'ADMINISTRADOR'"
    pButton 
    [label]="'APP.ANADIR_PADRE' | translate" 
    icon="pi pi-plus" 
    class="p-button-outlined" 
    (click)="abrirDialogoParaNuevoPadre()">
  </button>
</div>

<app-parent-table 
  *ngIf="parents"
  [parents]="parents" 
  [globalFilter]="globalFilter" 
  (editar)="editarPadre($event)"
  (eliminado)="eliminarPadre($event)">
</app-parent-table>

<p-dialog 
  *ngIf="authService.getTipoUsuarioFromToken() === 'ADMINISTRADOR'"
  [header]="selectedParent ? ('APP.EDITAR_PADRE' | translate) : ('APP.ANADIR_PADRE' | translate)"
  [(visible)]="mostrarDialogoPadre" 
  [modal]="true" 
  [style]="{ width: '500px' }"
  (onHide)="cancelarDialogoPadre()">
  
  <app-parent-form 
    [parent]="selectedParent"
    (submitParent)="guardarPadre($event)"
    (cancel)="cancelarDialogoPadre()">
  </app-parent-form>
</p-dialog>