<p-table 
[value]="higienesFiltradas" 
[paginator]="true" 
[stripedRows]="true"
[rows]="10" 
responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th>{{ 'FORMULARIO.NINO' | translate }}</th>
      <th>{{ 'FORMULARIO.EDUCADOR' | translate }}</th>
      <th>{{ 'FORMULARIO.FECHA' | translate }} & {{ 'FORMULARIO.HORA' | translate }}</th>
      <th>{{ 'FORMULARIO.ESTADO' | translate }}</th>
      <th>{{ 'FORMULARIO.OBSERVACIONES' | translate }}</th>
      <th>{{ 'TABLA.ACCIONES' | translate }}</th>
    </tr>
    <tr>
      <th>
        <p-dropdown 
          [options]="ninosUnicos"
          [(ngModel)]="ninoFiltro"
          optionLabel="nombre"
          optionValue="id"
          [placeholder]="'TABLA.FILTRAR_NINO' | translate"
          class="p-dropdown-sm w-full"
          [showClear]="true"
          appendTo="body">
        </p-dropdown>
      </th>
      <th>
        <p-dropdown 
          [options]="educadoresUnicos"
          [(ngModel)]="educadorFiltro"
          optionLabel="nombre"
          optionValue="id"
          [placeholder]="'TABLA.FILTRAR_EDUCADOR' | translate"
          class="p-dropdown-sm w-full"
          [showClear]="true"
          appendTo="body">
        </p-dropdown>
      </th>
      <th>
        <p-calendar 
          [(ngModel)]="fechaFiltro"
          dateFormat="dd/mm/yy"
          [placeholder]="'TABLA.FILTRAR_FECHA' | translate"
          class="p-inputtext-sm w-full"
          [showIcon]="true"
          appendTo="body">
        </p-calendar>
      </th>
      <th>
        <p-dropdown 
          [options]="estadosDisponibles"
          [(ngModel)]="estadoFiltro"
          [placeholder]="'TABLA.FILTRAR_ESTADO' | translate"
          class="p-dropdown-sm w-full"
          [showClear]="true"
          appendTo="body">
        </p-dropdown>
      </th>
      <th></th>
      <th>
        <button
          pButton
          icon="pi pi-times"
          class="p-button-sm p-button-secondary w-full"
          (click)="limpiarFiltros()"
          [label]="'BOTONES.LIMPIAR' | translate">
        </button>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-higiene>
    <tr>
      <td>{{ higiene.nino?.nombre }} {{ higiene.nino?.apellidos }}</td>
      <td>{{ higiene.educador?.nombre }} {{ higiene.educador?.apellidos }}</td>
      <td>{{ higiene.fechaHora | date:'dd/MM/yyyy HH:mm' }}</td>
      <td>{{ higiene.estado }}</td>
      <td>{{ higiene.observaciones || '-' }}</td>
      <td>
        <button pButton 
          icon="pi pi-pencil"
          class="p-button-sm p-button-outlined p-button-success"
          (click)="editarHigiene(higiene)">
        </button>
        <button pButton 
          icon="pi pi-trash"
          class="p-button-sm p-button-outlined p-button-danger"
          (click)="eliminarHigiene(higiene.id)">
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-confirmDialog></p-confirmDialog>
