<div class="chat-container neumorphic">
  <div class="mensajes-lista">
  <div *ngFor="let mensaje of mensajes" [ngClass]="{'mio': esMio(mensaje), 'suyo': !esMio(mensaje)}">
    <p>{{ mensaje.contenido }}</p>
    <small>{{ mensaje.fechaHora | date:'dd/MM/yyyy HH:mm' }}</small>
  </div>
  </div>
  <div class="chat-input" *ngIf="receptorId">
    <input [(ngModel)]="nuevoMensaje" [placeholder]="'CHAT.PLACEHOLDER' | translate" />
    <button (click)="enviarMensaje()">{{ 'CHAT.ENVIAR' | translate }}</button>
  </div>
</div>