<p-card header="{{ clase.nombre }}" styleClass="ui-card-shadow">
    <div>
      <strong>{{ 'APP.EDUCADOR' | translate }}:</strong> {{ clase.educador?.nombre }} {{ clase.educador?.apellidos }}
    </div>
    <div>
      <strong>{{ 'CLASE.NUMERO_NINOS' | translate }}:</strong> {{ clase.ninos?.length || 0 }}
    </div>
    <button 
      pButton 
      [label]="'APP.DETALLES' | translate"
      icon="pi pi-eye" 
      class="p-button-sm p-button-outlined p-button-info"
      (click)="onVerDetalles()">
    </button>
    <button 
      pButton 
      [label]="'APP.EDITAR' | translate"
      icon="pi pi-pencil" 
      class="p-button-sm p-button-outlined p-button-success" 
      (click)="onEditar()">
    </button>
    <button 
      pButton 
      [label]="'APP.ELIMINAR' | translate"
      icon="pi pi-trash" 
      class="p-button-sm p-button-outlined p-button-danger" 
      (click)="onEliminar()">
    </button>

  </p-card>