<p-table 
  [value]="asistenciasFiltradas"   
  [stripedRows]="true"
  [paginator]="true"
  [rows]="10"
  [rowsPerPageOptions]="[10, 20, 50]"
  [paginatorPosition]="'bottom'"
  [paginatorDropdownAppendTo]="'body'"
  currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} registros"
  [responsive]="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>{{ 'TABLA.NINO' | translate }}</th>
        <th>{{ 'TABLA.HORA_ENTRADA' | translate }}</th>
        <th>{{ 'TABLA.PADRE_ENTREGA' | translate }}</th>
        <th>{{ 'TABLA.EDUCADOR_RECIBE' | translate }}</th>
        <th>{{ 'TABLA.HORA_SALIDA' | translate }}</th>
        <th>{{ 'TABLA.PADRE_RECOGE' | translate }}</th>
        <th>{{ 'TABLA.EDUCADOR_ENTREGA' | translate }}</th>
        <th>{{ 'TABLA.ACCIONES' | translate }}</th>
      </tr>
      <tr>
        <th>
          <i class="pi pi-search" style="margin-right: 0.5rem;"></i>
          <p-dropdown 
            [options]="ninosUnicos" 
            [(ngModel)]="ninoFiltro"
            appendTo="body"
            optionLabel="nombre"
            optionValue="id"
            [placeholder]="'TABLA.FILTRAR_NINO' | translate"
            class="p-dropdown-sm w-full"
            [showClear]="true"
            >
          </p-dropdown>
        </th>
        <th>
          <p-calendar 
            [(ngModel)]="fechaFiltro" 
            appendTo="body"
            dateFormat="dd/mm/yy" 
            [placeholder]="'TABLA.FILTRAR_FECHA' | translate" 
            class="p-inputtext-sm w-full"
            [showIcon]="true">
          </p-calendar>
        </th>
        <th></th>
        <th>
          <p-dropdown 
            [options]="educadoresUnicos" 
            [(ngModel)]="educadorFiltro"
            appendTo="body"
            optionLabel="nombre"
            optionValue="id"
            [placeholder]="'TABLA.FILTRAR_EDUCADOR' | translate"
            class="p-dropdown-sm w-full"            
            showClear="true"
            >
          </p-dropdown>
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th>
          <button 
            pButton 
            icon="pi pi-times" 
            class="p-button-sm p-button-secondary w-full" 
            (click)="limpiarFiltros()" 
            [label]="'BOTONES.LIMPIAR' | translate">
          </button>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-asistencia>
      <tr>
        <td>{{ asistencia.nino | nombreCompleto }}</td>
        <td>{{ asistencia.horaEntrada | date:'dd/MM/yyyy HH:mm' }}</td>
        <td>{{ asistencia.padreEntrega | nombreCompleto }}</td>
        <td>{{ asistencia.educadorRecibe | nombreCompleto }}</td>
        <td>{{ asistencia.horaSalida ? (asistencia.horaSalida | date:'dd/MM/yyyy HH:mm') : '-' }}</td>
        <td>{{ asistencia.padreRecoge | nombreCompleto }}</td>
        <td>{{ asistencia.educadorEntrega | nombreCompleto }}</td>
        <td>
          <button 
          pButton 
            icon="pi pi-pencil"
            class="p-button-sm p-button-outlined p-button-success"
            (click)="onEdit(asistencia)">
        </button>
          <button 
          pButton 
          icon="pi pi-trash"
          class="p-button-sm p-button-outlined p-button-danger"
          (click)="onDelete(asistencia.id)"></button>
        </td>
      </tr>
    </ng-template>
</p-table>
<p-confirmDialog></p-confirmDialog>