<div class="page-header">
  <h2>🍽️ Comidas</h2>
  <button
    pButton
    icon="pi pi-plus"
    label="Añadir comida"
    class="p-button-outlined p-button-success"
    (click)="crearComida()"
  ></button>
</div>

<app-comida-table
  [comidas]="comidas"
  (editar)="editarComida($event)"
  (eliminado)="guardarComida()"
></app-comida-table>

<p-dialog
  [(visible)]="mostrarDialogo"
  [modal]="true"
  [style]="{ width: '40rem' }"
  header="{{ comidaSeleccionada ? 'Editar comida' : 'Nueva comida' }}"
  (onHide)="cerrarDialogo()"
>
  <app-comida-form
    [comidaEditando]="comidaSeleccionada"
    (formularioCerrado)="cerrarDialogo()"
    (comidaGuardada)="guardarComida()"
  ></app-comida-form>
</p-dialog>