<p-table 
  [value]="parentsFiltrados"
  [paginator]="true"
  [stripedRows]="true"
  [rows]="10"
  [rowsPerPageOptions]="[10, 20, 50]"
  [paginatorPosition]="'bottom'"
  [paginatorDropdownAppendTo]="'body'"
  currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} registros"
  responsiveLayout="scroll"
>
  <ng-template pTemplate="header">
    <tr>
      <th>{{ 'FORMULARIO.NOMBRE' | translate }}</th>
      <th>{{ 'FORMULARIO.APELLIDOS' | translate }}</th>
      <th>{{ 'FORMULARIO.EMAIL' | translate }}</th>
      <th>{{ 'FORMULARIO.TELEFONO' | translate }}</th>
      <th>{{ 'TABLA.ACCIONES' | translate }}</th>
    </tr>
    <tr>
      <th>
        <span class="p-input-icon-left w-full">
            <i class="pi pi-search" style="margin-right: 0.5rem;"></i>
            <input 
              pInputText 
              [(ngModel)]="nombreFiltro" 
              [placeholder]="'TABLA.FILTRAR_NOMBRE' | translate" 
              class="p-inputtext p-inputtext-sm w-full" 
              pKeyFilter="alpha" 
              appendTo="body"
            />
        </span>
      </th>
      <th>
        <span class="p-input-icon-left w-full">
          <input 
            pInputText 
            [(ngModel)]="apellidosFiltro" 
            [placeholder]="'TABLA.FILTRAR_APELLIDOS' | translate" 
            class="p-inputtext p-inputtext-sm w-full" 
            pKeyFilter="alpha" 
            appendTo="body" 
          />
        </span>
      </th>
      <th>
        <span class="p-input-icon-left w-full">
          <input 
            pInputText 
            [(ngModel)]="emailFiltro" 
            [placeholder]="'TABLA.FILTRAR_EMAIL' | translate" 
            class="p-inputtext p-inputtext-sm w-full" 
            pKeyFilter="email" 
            appendTo="body"
          />
        </span>
      </th>
      <th>
        <span class="p-input-icon-left w-full">
          <input 
            pInputText 
            [(ngModel)]="telefonoFiltro" 
            [placeholder]="'TABLA.FILTRAR_TELEFONO' | translate" 
            class="p-inputtext p-inputtext-sm w-full" 
            pKeyFilter="int" 
            appendTo="body" 
          />
        </span>
      </th>
      <th>
        <button 
          pButton 
          icon="pi pi-times" 
          class="p-button-sm p-button-secondary" 
          (click)="limpiarFiltros()" 
          [label]="'BOTONES.LIMPIAR' | translate">
        </button>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-parent>
    <tr>
      <td>{{ parent.nombre }}</td>
      <td>{{ parent.apellidos }}</td>
      <td>{{ parent.email }}</td>
      <td>{{ parent.telefono }}</td>
      <td>
        <button pButton icon="pi pi-pencil" class="p-button-sm p-button-outlined p-button-success" (click)="editarPadre(parent)"></button>
        <button pButton icon="pi pi-trash" class="p-button-sm p-button-outlined p-button-danger" (click)="confirmarEliminar(parent)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-confirmDialog></p-confirmDialog>