<p-table 
  [value]="parents"
  [paginator]="true"
  [rows]="10"
  [globalFilterFields]="['nombre', 'apellidos', 'email']"
  [filters]="{ global: { value: globalFilter, matchMode: 'contains' } }"
  responsiveLayout="scroll"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Email</th>
      <th>Teléfono</th>
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-parent>
    <tr>
      <td>{{ parent.nombre }}</td>
      <td>{{ parent.apellidos }}</td>
      <td>{{ parent.email }}</td>
      <td>{{ parent.telefono }}</td>
      <td>
        <button pButton icon="pi pi-pencil" class="p-button-sm p-button-outlined p-button-success" (click)="editarPadre(parent)"></button>
        <button pButton icon="pi pi-trash" class="p-button-sm p-button-outlined p-button-danger" (click)="confirmarEliminar(parent)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-confirmDialog></p-confirmDialog>