<p-table 
  [value]="parentsFiltrados"
  [paginator]="true"
  [stripedRows]="true"
  [rows]="10"
  responsiveLayout="scroll"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Email</th>
      <th>Teléfono</th>
      <th>Acciones</th>
    </tr>
    <tr>
      <th>
        <span class="p-input-icon-left w-full">
            <i class="pi pi-search" style="margin-right: 0.5rem;"></i>
            <input 
              pInputText 
              [(ngModel)]="nombreFiltro" 
              placeholder="Filtrar nombre..." 
              class="p-inputtext p-inputtext-sm w-full" 
              pKeyFilter="alpha" 
              appendTo="body"
            />
        </span>
      </th>
      <th>
        <span class="p-input-icon-left w-full">
          <input 
            pInputText 
            [(ngModel)]="apellidosFiltro" 
            placeholder="Filtrar apellidos..." 
            class="p-inputtext p-inputtext-sm w-full" 
            pKeyFilter="alpha" 
            appendTo="body" 
          />
        </span>
      </th>
      <th>
        <span class="p-input-icon-left w-full">
          <input 
            pInputText 
            [(ngModel)]="emailFiltro" 
            placeholder="Filtrar email..." 
            class="p-inputtext p-inputtext-sm w-full" 
            pKeyFilter="email" 
            appendTo="body"
          />
        </span>
      </th>
      <th>
        <span class="p-input-icon-left w-full">
          <input 
            pInputText 
            [(ngModel)]="telefonoFiltro" 
            placeholder="Filtrar teléfono..." 
            class="p-inputtext p-inputtext-sm w-full" 
            pKeyFilter="int" 
            appendTo="body" 
          />
        </span>
      </th>
      <th>
        <button 
          pButton 
          icon="pi pi-times" 
          class="p-button-sm p-button-secondary" 
          (click)="limpiarFiltros()" 
          label="Limpiar">
        </button>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-parent>
    <tr>
      <td>{{ parent.nombre }}</td>
      <td>{{ parent.apellidos }}</td>
      <td>{{ parent.email }}</td>
      <td>{{ parent.telefono }}</td>
      <td>
        <button pButton icon="pi pi-pencil" class="p-button-sm p-button-outlined p-button-success" (click)="editarPadre(parent)"></button>
        <button pButton icon="pi pi-trash" class="p-button-sm p-button-outlined p-button-danger" (click)="confirmarEliminar(parent)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-confirmDialog></p-confirmDialog>