<div class="page-header">
  <h2>🚽 Higienes</h2>
  <button pButton type="button" icon="pi pi-plus" label="Nueva higiene" class="p-button-outlined p-button-success" (click)="crearHigiene()"></button>
</div>

<app-higiene-table (editar)="editarHigiene($event)"></app-higiene-table>

<p-dialog
  header="{{ higieneSeleccionada ? 'Editar higiene' : 'Nueva higiene' }}"
  [(visible)]="mostrarDialogo"
  [modal]="true"
  [style]="{ width: '60vw', height: '80vh' }"
  (onHide)="cerrarFormulario()"
>
  <app-higiene-form
    [higieneEditando]="higieneSeleccionada"
    (formularioCerrado)="cerrarFormulario()"
    (higieneGuardada)="recargarTabla()"
  ></app-higiene-form>
</p-dialog>
