<div class="actividad-page">
  <div class="header">
    <h2>🎼 Actividades</h2>
    <button 
    pButton 
      icon="pi pi-plus" 
      label="Nueva Actividad" 
      class="p-button-outlined p-button-success"
      (click)="crearActividad()"></button>
  </div>

  <div class="card-container">
    <app-actividad-card 
      *ngFor="let actividad of actividades"
      [actividad]="actividad"
      (editar)="editarActividad($event)"
      (eliminar)="eliminarActividad($event)">
    </app-actividad-card>
  </div>
  <p-dialog 
    header="Formulario de Actividad" 
    [(visible)]="mostrarFormulario" 
    [modal]="true" 
    [closable]="false" 
    [style]="{ width: '50vw' }">
    <app-actividad-form 
      [actividadEditando]="actividadSeleccionada" 
      (actividadGuardada)="onGuardar()" 
      (formularioCerrado)="onCancelar()">
    </app-actividad-form>
  </p-dialog>
</div>
