<p-table 
  [value]="childrenFiltrados"
  [stripedRows]="true"
  [paginator]="true"
  [globalFilterFields]="['nombre', 'apellidos', 'clase', 'alergias', 'condicionesMedicas']"
  [rows]="10"
  responsiveLayout="scroll"
>
  <ng-template pTemplate="header">
    <tr>
      <th>{{ 'TABLA.FOTO' | translate }}</th>
      <th>{{ 'FORMULARIO.NOMBRE' | translate }}</th>
      <th>{{ 'FORMULARIO.APELLIDOS' | translate }}</th>
      <th>{{ 'FORMULARIO.FECHA_NACIMIENTO' | translate }}</th>
      <th>{{ 'FORMULARIO.PRIMER_DIA' | translate }}</th>
      <th>{{ 'FORMULARIO.CLASE' | translate }}</th>
      <th>{{ 'FORMULARIO.ALERGIAS' | translate }}</th>
      <th>{{ 'FORMULARIO.CONDICIONES_MEDICAS' | translate }}</th>
      <th>{{ 'TABLA.ACCIONES' | translate }}</th>
    </tr>
    <tr>
      <th><i class="pi pi-search"></i></th>
      <th>
        <span class="p-input-icon-left w-full">
          <input pInputText [ngModel]="nombreFiltro" (ngModelChange)="nombreFiltro = $event.toString()" placeholder="{{ 'TABLA.FILTRAR_NOMBRE' | translate }}" class="p-inputtext p-inputtext-sm w-full" pKeyFilter="alpha" />
        </span>
      </th>
      <th>
        <span class="p-input-icon-left w-full">
          <input pInputText [ngModel]="apellidosFiltro" (ngModelChange)="apellidosFiltro = $event.toString()" placeholder="{{ 'TABLA.FILTRAR_APELLIDOS' | translate }}" class="p-inputtext p-inputtext-sm w-full" pKeyFilter="alpha" />
        </span>
      </th>
      <th>
        <div class="flex flex-column gap-1">
          <p-calendar 
            [(ngModel)]="fechaNacimientoDesde" 
            view="month" 
            dateFormat="mm/yy" 
            placeholder="{{ 'TABLA.DESDE' | translate }}" 
            class="p-inputtext-sm w-full" 
            [showIcon]="true" 
            [monthNavigator]="true" 
            [yearNavigator]="true" 
            yearRange="2000:2030"
            appendTo="body">
          </p-calendar>
          <p-calendar 
            [(ngModel)]="fechaNacimientoHasta" 
            view="month" 
            dateFormat="mm/yy" 
            placeholder="{{ 'TABLA.HASTA' | translate }}" 
            class="p-inputtext-sm w-full" 
            [showIcon]="true" 
            [monthNavigator]="true" 
            [yearNavigator]="true" 
            yearRange="2000:2030"
            appendTo="body">
          </p-calendar>
        </div>
      </th>
      <th>
        <div class="flex flex-column gap-1">
          <p-calendar 
            [(ngModel)]="primerDiaDesde" 
            view="month" 
            dateFormat="mm/yy" 
            placeholder="{{ 'TABLA.DESDE' | translate }}" 
            class="p-inputtext-sm w-full" 
            [showIcon]="true" 
            [monthNavigator]="true" 
            [yearNavigator]="true" 
            yearRange="2000:2030"
            appendTo="body">
          </p-calendar>
          <p-calendar 
            [(ngModel)]="primerDiaHasta" 
            view="month" 
            dateFormat="mm/yy" 
            placeholder="{{ 'TABLA.HASTA' | translate }}" 
            class="p-inputtext-sm w-full" 
            [showIcon]="true" 
            [monthNavigator]="true" 
            [yearNavigator]="true" 
            yearRange="2000:2030"
            appendTo="body">
          </p-calendar>
        </div>
      </th>
      <th>
        <span class="p-input-icon-left w-full">
          <p-dropdown 
            [options]="clasesDisponibles"
            [(ngModel)]="claseFiltro"
            placeholder="{{ 'TABLA.FILTRAR_CLASE' | translate }}"
            class="p-dropdown-sm w-full"
            appendTo="body"
            >
          </p-dropdown>
        </span>
      </th>
      <th>
        <span class="p-input-icon-left w-full">
          <input pInputText [(ngModel)]="alergiasFiltro" placeholder="{{ 'TABLA.FILTRAR_ALERGIAS' | translate }}" class="p-inputtext p-inputtext-sm w-full" />
        </span>
      </th>
      <th>
        <span class="p-input-icon-left w-full">
          <input pInputText [(ngModel)]="condicionesFiltro" placeholder="{{ 'TABLA.FILTRAR_CONDICIONES' | translate }}" class="p-inputtext p-inputtext-sm w-full" />
        </span>
      </th>
      <th>
        <button pButton icon="pi pi-times" class="p-button-sm p-button-secondary" (click)="limpiarFiltros()" label="{{ 'BOTONES.LIMPIAR' | translate }}"></button>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-child>
    <tr>
      <td>
        <img [src]="child.fotoUrl" width="50" height="50" style="border-radius: 5px;" *ngIf="child.fotoUrl; else noImg"/>
        <ng-template #noImg><span style="color: gray;">{{ 'APP.SIN_IMAGEN' | translate }}</span></ng-template>
      </td>
      <td>{{ child.nombre }}</td>
      <td>{{ child.apellidos }}</td>
      <td>{{ child.fechaNacimiento | date: 'dd/MM/yyyy' }}</td>
      <td>{{ child.primerDia | date: 'dd/MM/yyyy' }}</td>
      <td>{{ child.clase?.nombre || ('APP.SIN_CLASE' | translate) }}</td>
      <td>{{ child.alergias || ('APP.NINGUNA' | translate) }}</td>
      <td>{{ child.condicionesMedicas || ('APP.NINGUNA' | translate) }}</td>
      <td>
        <button pButton icon="pi pi-pencil" class="p-button-sm p-button-outlined p-button-success" (click)="editarNino(child)"></button>
        <button pButton icon="pi pi-trash" class="p-button-sm p-button-outlined p-button-danger" (click)="confirmarEliminar(child)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-confirmDialog></p-confirmDialog>
