<p-table 
  [value]="comidasFiltradas" 
  dataKey="id" 
  class="p-datatable-sm"
  [stripedRows]="true"
  [paginator]="true"
  [rows]="10"
  [rowsPerPageOptions]="[10, 20, 50]"
  [paginatorPosition]="'bottom'"
  [paginatorDropdownAppendTo]="'body'"
  currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} registros"
  >
  <ng-template 
  pTemplate="header">
    <tr>
      <th>{{ 'FORMULARIO.NINO' | translate }}</th>
      <th>{{ 'FORMULARIO.EDUCADOR' | translate }}</th>
      <th>{{ 'FORMULARIO.HORA' | translate }}</th>
      <th>{{ 'FORMULARIO.DESCRIPCION' | translate }}</th>
      <th>{{ 'FORMULARIO.OBSERVACIONES' | translate }}</th>
      <th>{{ 'TABLA.ACCIONES' | translate }}</th>
    </tr>
    <tr>
      <th>
        <i class="pi pi-search" style="margin-right: 0.5rem;"></i>
        <p-dropdown 
          [options]="ninosUnicos"
          appendTo="body"
          [(ngModel)]="ninoFiltro"
          optionLabel="nombre"
          optionValue="id"
          [placeholder]="'TABLA.FILTRAR_NINO' | translate"
          class="p-dropdown-sm w-full"
          [showClear]="true">
        </p-dropdown>
      </th>
      <th>
        <p-dropdown 
          [options]="educadoresUnicos"
          appendTo="body"
          [(ngModel)]="educadorFiltro"
          optionLabel="nombre"
          optionValue="id"
          [placeholder]="'TABLA.FILTRAR_EDUCADOR' | translate"
          class="p-dropdown-sm w-full"
          [showClear]="true">
        </p-dropdown>
      </th>
      <th>
        <p-calendar 
          [(ngModel)]="fechaFiltro"
          appendTo="body"
          dateFormat="dd/mm/yy"
          [placeholder]="'TABLA.FILTRAR_FECHA' | translate"
          class="p-inputtext-sm w-full"
          [showIcon]="true">
        </p-calendar>
      </th>
      <th colspan="2"></th>
      <th>
        <button
          pButton
          icon="pi pi-times"
          class="p-button-sm p-button-secondary w-full"
          (click)="limpiarFiltros()"
          [label]="'BOTONES.LIMPIAR' | translate">
        </button>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-comida>
    <tr>
      <td>{{ comida.nino?.nombre }} {{ comida.nino?.apellidos }}</td>
      <td>{{ comida.educador?.nombre }} {{ comida.educador?.apellidos }}</td>
      <td>{{ comida.horaComida | date: 'dd/MM/yyyy HH:mm' }}</td>
      <td>{{ comida.descripcionComida }}</td>
      <td>{{ comida.observaciones || '—' }}</td>
      <td>
        <button
          pButton
          icon="pi pi-pencil"
          class="p-button-sm p-button-outlined p-button-success"
          (click)="editarComida(comida)"
        ></button>
        <button
          pButton
          icon="pi pi-trash"
          class="p-button-sm p-button-outlined p-button-danger"
          (click)="confirmarEliminacion(comida)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-confirmDialog></p-confirmDialog>