<div class="page-header">
  <h2>👦🏻👧🏼 {{ 'SIDEBAR.NINOS' | translate }}</h2>
  <button 
    pButton 
    [label]="'APP.ANADIR_NINO' | translate" 
    icon="pi pi-plus" 
    class="p-button-outlined" 
    (click)="abrirDialogoParaNuevoNino()">
  </button>
</div>

<app-child-table 
  *ngIf="children"
  [children]="children" 
  (editar)="editarNino($event)"
  (eliminado)="eliminarNino($event)">
</app-child-table>

<p-dialog 
  [header]="selectedChild ? ('APP.EDITAR_NINO' | translate) : ('APP.ANADIR_NINO' | translate)" 
  [(visible)]="mostrarDialogoNino" 
  [modal]="true" 
  [style]="{ width: '500px' }"
  (onHide)="cancelarDialogoNino()">
  
  <app-child-form 
    [child]="selectedChild"
    (submitChild)="guardarNino($event)"
    (cancel)="cancelarDialogoNino()">
  </app-child-form>
</p-dialog>