<div class="cards-container">
  <p-card class="summary-card">
    <div class="card-content updated">
      <i class="pi pi-users icon"></i>
      <div class="middle">
        <span>Niños presentes</span>
      </div>
      <div class="count">
        <h1>{{ ninosPresentesHoy }}</h1>
      </div>
    </div>
  </p-card>
  
  <p-card class="summary-card">
    <div class="card-content updated">
      <i class="pi pi-clock icon"></i>
      <div class="middle">
        <span>Entradas recientes</span>
      </div>
      <div class="count">
        <h1>3</h1>
      </div>
    </div>
  </p-card>
  
  <p-card class="summary-card">
    <div class="card-content updated">
      <i class="pi pi-comments icon"></i>
      <div class="middle">
        <span>Mensajes nuevos</span>
      </div>
      <div class="count">
        <h1>3</h1>
      </div>
    </div>
  </p-card>
  
  <p-card class="summary-card">
    <div class="card-content updated">
      <i class="pi pi-apple icon"></i>
      <div class="middle">
        <span>Comidas registradas</span>
      </div>
      <div class="count">
        <h1>8</h1>
      </div>
    </div>
  </p-card>


  <p-card class="summary-card">
    <div class="card-content updated">
      <i class="pi pi-moon icon"></i>
      <div class="middle">
        <span>Siestas activas</span>
      </div>
      <div class="count">
        <h1>2</h1>
      </div>
    </div>
  </p-card>

  <p-card class="summary-card">
    <div class="card-content updated">
      <i class="pi pi-calendar icon"></i>
      <div class="middle">
        <span>Actividades hoy</span>
      </div>
      <div class="count">
        <h1>4</h1>
      </div>
    </div>
  </p-card>

  
  <p-card class="summary-card">
    <div class="card-content updated">
      <i class="pi pi-bell icon"></i>
      <div class="middle">
        <span>Notificaciones</span>
      </div>
      <div class="count">
        <h1>6</h1>
      </div>
    </div>
  </p-card>
  
  <p-card class="summary-card">
    <div class="card-content updated">
      <i class="pi pi-users icon"></i>
      <div class="middle">
        <span>Niños inscritos</span>
      </div>
      <div class="count">
        <h1>30</h1>
      </div>
    </div>
  </p-card>
</div>