<div class="sidebar">
  <img src="assets/Logo.png" alt="Logo" class="topbar-logo" />
  <p-panelMenu [model]="items" class="sidebar-menu"></p-panelMenu>
  <div class="sidebar-footer">
    <p-dropdown
      [options]="[
        { label: 'Español', value: 'es', icon: 'pi pi-globe' },
        { label: 'English', value: 'en', icon: 'pi pi-globe' }
      ]"
      optionLabel="label"
      optionValue="value"
      [(ngModel)]="selectedLang"
      [styleClass]="'sidebar-dropdown neumorphic-style'"
      (onChange)="cambiarIdioma($event)"
      placeholder="Idioma"
      [ngClass]="'sidebar-dropdown neumorphic-style'"
      >
    </p-dropdown>
    <button 
      pButton 
      icon="pi pi-user" 
      [label]="'SIDEBAR.PERFIL' | translate"
      class="p-button-text sidebar-action" 
      (click)="irAlPerfil()">
    </button>
    <button 
      pButton 
      icon="pi pi-sign-out" 
      [label]="'SIDEBAR.SALIR' | translate"
      class="p-button-text sidebar-action" 
      (click)="cerrarSesion()">
    </button>
  </div>
</div>