.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  min-height: 100vh;
  background: #b8cce7c7;
  padding: 1rem;
  box-shadow: inset 4px 4px 8px #bec3c9;
  border-radius: 0 0 20px;
  transition: width 0.3s;
  font-size: 1,2rem;
  
  img.topbar-logo {
    width: 100%;
    max-width: 200px;
    margin-bottom: 1rem;
  }

  .sidebar-menu {
    list-style: none;
    padding: 0;

    .p-panelmenu .p-panelmenu-header {
      display: flex;
      align-items: center;
      padding: 0.5rem 0.5rem;

      i {
        font-size: 1.5rem;
        margin-right: 0.5rem;
      }
    }
  }
}

.sidebar-footer {
  margin-top: auto;
  padding-top: 1rem;
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sidebar-action {
  width: 100%;
  justify-content: flex-start;
}

.sidebar-action {
  width: 100%;
  justify-content: flex-start;
  background-color: #f3f4f6;
  color: #4b5563;
  border: none;
  box-shadow: 
    inset 2px 2px 4px rgba(0, 0, 0, 0.03),
    inset -2px -2px 4px rgba(255, 255, 255, 0.8);
  transition: all 0.2s ease;
}

.sidebar-action:hover {
  background-color: #a9c4e7;
  color: #111827;
}