<form [formGroup]="form" (ngSubmit)="onSubmit()" class="comida-form p-fluid">
  <div class="p-grid p-formgrid">

    <div class="p-field p-col-12">
      <div class="p-float-label">
        <p-dropdown
          inputId="nino"
          [options]="ninos"
          formControlName="nino"
          dataKey="id">
          <ng-template let-nino pTemplate="item">
            {{ nino | nombreCompleto }}
          </ng-template>
          <ng-template let-nino pTemplate="selectedItem">
            {{ nino | nombreCompleto }}
          </ng-template>
        </p-dropdown>
        <label for="nino">{{ 'FORMULARIO.NINO' | translate }}</label>
      </div>
    </div>

    <div class="p-field p-col-12">
      <div class="p-float-label">
        <p-dropdown
          inputId="educador"
          [options]="educadores"
          formControlName="educador"
          dataKey="id">
          <ng-template let-educador pTemplate="item">
            {{ educador | nombreCompleto }}
          </ng-template>
          <ng-template let-educador pTemplate="selectedItem">
            {{ educador | nombreCompleto }}
          </ng-template>
        </p-dropdown>
        <label for="educador">{{ 'FORMULARIO.EDUCADOR' | translate }}</label>
      </div>
    </div>

    <div class="p-field p-col-12">
      <div class="p-float-label">
        <p-calendar
          inputId="horaComida"
          formControlName="horaComida"
          [showTime]="true"
          hourFormat="24"
          >
        </p-calendar>
        <label for="horaComida">{{ 'FORMULARIO.HORA' | translate }}</label>
      </div>
    </div>

    <div class="p-field p-col-12">
      <div class="p-float-label">
        <textarea
          id="descripcionComida"
          pInputTextarea
          formControlName="descripcionComida"
          rows="3">
        </textarea>
        <label for="descripcionComida">{{ 'FORMULARIO.DESCRIPCION_COMIDA' | translate }}</label>
      </div>
    </div>

    <div class="p-field p-col-12">
      <div class="p-float-label">
        <textarea
          id="observaciones"
          pInputTextarea
          formControlName="observaciones"
          rows="2"
          class="w-full">
          >
        </textarea>
        <label for="observaciones">{{ 'FORMULARIO.OBSERVACIONES' | translate }} ({{ 'APP.OPCIONAL' | translate }})</label>
      </div>
    </div>

  </div>

  <div class="p-d-flex p-jc-center p-mt-3">
    <button
      pButton
      type="submit"
      [label]="comidaEditando ? ('BOTONES.ACTUALIZAR' | translate) + ' ' + ('comida' | translate) : ('BOTONES.GUARDAR' | translate) + ' ' + ('comida' | translate)"
      class="p-button-success"
      [disabled]="form.invalid">
    </button>
  </div>
</form>