<p-table 
  [value]="educatorsFiltrados"
  [stripedRows]="true"
  [paginator]="true"
  [rows]="10"
  [globalFilterFields]="['nombre', 'apellidos', 'email', 'telefono']"
  responsiveLayout="scroll"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Email</th>
      <th>Teléfono</th>
      <th>Acciones</th>
    </tr>
    <tr>
      <th>
        <ng-container pKeyFilter="alpha">
          <span class="p-input-icon-left w-full">
            <i class="pi pi-search" style="margin-right: 0.5rem;"></i>
            <input pInputText type="text" [(ngModel)]="nombreFiltro" placeholder="Filtrar nombre..." class="p-inputtext p-inputtext-sm w-full" />
          </span>
        </ng-container>
      </th>
      <th>
        <ng-container pKeyFilter="alpha">
          <span class="p-input-icon-left w-full">
            <input pInputText type="text" [(ngModel)]="apellidosFiltro" placeholder="Filtrar apellidos..." class="p-inputtext p-inputtext-sm w-full" />
          </span>
        </ng-container>
      </th>
      <th>
        <ng-container pKeyFilter="email">
          <span class="p-input-icon-left w-full">
            <input pInputText type="text" [(ngModel)]="emailFiltro" placeholder="Filtrar email..." class="p-inputtext p-inputtext-sm w-full" />
          </span>
        </ng-container>
      </th>
      <th>
        <ng-container pKeyFilter="int">
          <span class="p-input-icon-left w-full">
            <input pInputText type="text" [(ngModel)]="telefonoFiltro" placeholder="Filtrar teléfono..." class="p-inputtext p-inputtext-sm w-full" />
          </span>
        </ng-container>
      </th>
      <th><button pButton icon="pi pi-times" class="p-button-sm p-button-secondary" (click)="limpiarFiltros()" label="Limpiar"></button></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-educator>
    <tr>
      <td>{{ educator.nombre }}</td>
      <td>{{ educator.apellidos }}</td>
      <td>{{ educator.email }}</td>
      <td>{{ educator.telefono }}</td>
      <td>
        <button pButton icon="pi pi-pencil" class="p-button-sm p-button-outlined p-button-success" (click)="editarEducador(educator)"></button>
        <button pButton icon="pi pi-trash" class="p-button-sm p-button-outlined p-button-danger" (click)="confirmarEliminar(educator)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-confirmDialog></p-confirmDialog>