<form [formGroup]="form" (ngSubmit)="onSubmit()" class="higiene-form p-fluid">
  <div class="p-grid p-formgrid">
    
    <div class="p-field p-col-12">
      <div class="p-float-label">
        <p-dropdown
          inputId="nino"
          [options]="ninos"
          formControlName="nino"
          dataKey="id"
          appendTo="body">
          <ng-template let-nino pTemplate="item">
            {{ nino.nombre }} {{ nino.apellidos }}
          </ng-template>
          <ng-template let-nino pTemplate="selectedItem">
            {{ nino.nombre }} {{ nino.apellidos }}
          </ng-template>
        </p-dropdown>
        <label for="nino">{{ 'FORMULARIO.NINO' | translate }}</label>
      </div>
    </div>

    <div class="p-field p-col-12">
      <div class="p-float-label">
        <p-dropdown
          inputId="educador"
          [options]="educadores"
          formControlName="educador"
          dataKey="id"
          appendTo="body">
          <ng-template let-educador pTemplate="item">
            {{ educador.nombre }} {{ educador.apellidos }}
          </ng-template>
          <ng-template let-educador pTemplate="selectedItem">
            {{ educador.nombre }} {{ educador.apellidos }}
          </ng-template>
        </p-dropdown>
        <label for="educador">{{ 'FORMULARIO.EDUCADOR' | translate }}</label>
      </div>
    </div>

    <div class="p-field p-col-12">
      <div class="p-float-label">
        <p-calendar
          inputId="fechaHora"
          formControlName="fechaHora"
          [showTime]="true"
          hourFormat="24"
          appendTo="body"
          [showIcon]="true">
        </p-calendar>
        <label for="fechaHora">{{ 'FORMULARIO.FECHA' | translate }} & {{ 'FORMULARIO.HORA' | translate }}</label>
      </div>
    </div>

    <div class="p-field p-col-12">
      <div class="p-float-label">
        <p-dropdown
          inputId="estado"
          [options]="estados"
          formControlName="estado"
          optionLabel="label"
          appendTo="body">
        </p-dropdown>
        <label for="estado">{{ 'FORMULARIO.ESTADO' | translate }}</label>
      </div>
    </div>

    <div class="p-field p-col-12">
      <div class="p-float-label">
        <textarea
          id="observaciones"
          pInputTextarea
          formControlName="observaciones"
          rows="3"
          class="w-full">
          >
        </textarea>
        <label for="observaciones">{{ 'FORMULARIO.OBSERVACIONES' | translate }}</label>
      </div>
    </div>
  </div>

  <div class="p-d-flex p-jc-center p-mt-3">
    <button
      pButton
      type="submit"
      [label]="isEditing ? ('BOTONES.ACTUALIZAR' | translate) + ' ' + ('HIGIENE' | translate) : ('BOTONES.GUARDAR' | translate) + ' ' + ('HIGIENE' | translate)"
      class="p-button-success"
      [disabled]="form.invalid">
    </button>
  </div>
</form>
